#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
Input.input_error,
select.input_error {
  border-color: rgb(191, 19, 19);
}
.unstyled {
  border-color: transparent;
}
.styled {
  border-color: blue;
}
